.main-screen {
    background-color: #9C835F;
    background-size: 100% 100%;
    object-fit: contain;
    height: 1050px;
    position: relative;
  }
  .font-coklat{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #724C21;
    position: absolute;
    width: 55px;
    height: 87px;
    left: 37px;
    top: 12px;
  }
  .rock-paper{
    position: absolute;
    width: 410px;
    height: 62px;
    left: 218px;
    top: 40px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    
    color: #F9B23D;
  }
  .logo{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 119px;
    top: 27px;
  }
  .player{
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #000000;
    
  }
  .com{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #000000;
    
  }
  .batu-1{
    
  }
  .batu{
  }
  .kertas-1{
  }
  .kertas{
  }
  .versus{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #BD0000;
  }
  .gunting-1{
  }
.gunting{
}
.refresh{
}